@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 400px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    overflow: hidden;
}

.card .picture {
    position: relative;
}

.card .picture img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.card .picture img:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
}

.card .card-header {
    padding: 20px;
}

.card .card-header h1 {
    font-size: 24px;
}

.card .caption {
    padding: 0px 20px 20px 20px;
}

.card .caption p {
    font-size: 16px;
    text-align: justify;
}

.btn-tambah {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .btn-tambah button{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: rgb(214, 88, 88);
    color: #fff;
}

.card .btn-tambah button:hover{
    background-color: red;
    transition: all 0.2s ease-in-out;
}